body {
   
        font-family: "SUSE", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
        color:#7C0A02;

    }

.carousel-img {
    border-radius: 10px;
}

.hrClass {
    background-color: gainsboro;
    height: 2px;
    border:none;
}

